ion-toolbar {
  --background: white;

  @media (prefers-color-scheme: dark) {
    --background: var(--ion-background-color);
  }
}

.md ion-toolbar {
  --padding-top: var(--status-bar-height);
}

ion-title {
  font-size: 22px;
  font-family: WorkSans-Bold;
  color: var(--color-darkText);
}

ion-title.md {
  text-align: center;
  margin-left: 48px; // menu icon space
}

ion-item {
  --padding-end: 0px;
  --inner-padding-end: 0px;
  --border-radius: 4px;

  ion-img {
    aspect-ratio: 1.5;
    object-fit: cover;
  }
}

.material-icons.darkgrey {
  color: var(--color-darkgrey);
}

.center-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  pointer-events: none; /* 不拦截点击 */
  z-index: 10;
}


.gold-label {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  /* 金色渐变文字 */
  background: linear-gradient(45deg, #ffd700, #f9c14a, #ffed4e, #ffd700);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  
  /* 发光边框 */
  text-shadow: 
    // 0 0 10px rgba(255, 215, 0, 0.8),
    // 0 0 20px rgba(255, 193, 7, 0.6),
    0 0 30px rgba(255, 152, 0, 0.4);
  
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  
  /* 半透明背景 */
  padding: 12px 24px;
  border-radius: 12px;
  background-color: rgba(255, 215, 0, 0.15);
  border: 0px solid rgba(255, 215, 0, 0.5);
  

  pointer-events: none;
  z-index: 10;
}

