<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" (click)="clickSound()"></ion-back-button>
    </ion-buttons>
    <ion-title>Surveillance Camera</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 
<ion-content class="ion-padding">
  <div class="intro-container">

    <!-- Main Hero Card -->
    <ion-card class="welcome-card">
      <img src="/assets/camera/camera2.jpg" style="height: 220px; object-fit: cover;"alt="Smart Home" />

      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>
4K Smart CCTV Camera Systems



</ion-card-title>
      </ion-card-header>

      <ion-card-content>
     
We deliver complete visual control of your home, 
business, or property with the most advanced 4K surveillance 
systems available today. Our professional-grade 4K cameras capture
 crystal-clear footage — four times sharper than standard HD — revealing faces, 
 license plates, packages, and every movement with absolute precision, day or night.



      </ion-card-content>
    </ion-card>

   

    <ion-card>
      <ion-item lines="none">
        <ion-icon name="bulb-outline" slot="start" color="warning"></ion-icon>
        <ion-label>
          <h3>Key Advantages of a Gold Knight 4K Smart System </h3>
          <p><b>True 4K Ultra HD resolution with full-color night vision</b><br>
See vivid, accurate colors even in complete darkness — no more grainy black-and-white 
images.<br>
<b>Built-in AI intelligence</b><br>
Smart detection instantly recognizes people, vehicles, animals, and packages. Receive
 only meaningful 
alerts while ignoring wind, shadows, or pets.<br>
<b>Secure cloud + local storage</b>
Your footage is safely backed up in the cloud and stored locally. Access
 live views and recordings anytime, from anywhere, on your phone, tablet, or computer.<br>
<b>Professional design & installation</b><br>
Every camera is strategically placed by our certified technicians for maximum coverage,
 clean cabling, and flawless performance — guaranteed.<br>


</p>
        </ion-label>
      </ion-item>
    </ion-card> 

    <!-- <ion-card>
      <ion-item lines="none">
        <ion-icon name="moon-outline" slot="start" color="tertiary"></ion-icon>
        <ion-label>
          <h3>Popular Automations We Install:</h3>
          <p>1. Morning Rise: Bedroom lights brighten gradually at 7 AM, synced to coffee maker and blinds.<br>
2. Movie Mode: Living room dims to 10%, accent lights to 30%—perfect for rainy Netflix nights.<br>
3. Away Mode: Random timers mimic occupancy for security; integrates with your alarm system.<br>

These save 20-30% on energy bills while boosting home value—ideal for Vancouver's eco-conscious market.

</p>
        </ion-label>
      </ion-item>
    </ion-card> -->

    

  </div>
</ion-content>



</ion-content>
