<ion-header translucent>
  <ion-toolbar>
    <ion-title>Blind</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
 
  <ion-list>
   <ion-item *ngFor="let blind of blindWithUps"  >
    <ion-label >{{ blind.mesh.name}}</ion-label>
  
    <ion-toggle 
    slot="end" 
   [(ngModel)]="blind.isUp"
    (ionChange)="onBlindToggle(blind.mesh)">
  </ion-toggle>
   </ion-item>
  </ion-list>

  

</ion-content>